.header {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LOGOCLICK {
    font-size: 64px;
    font-family: 'Jockey One', sans-serif;
    padding: 30px;
}

.hlink {
    padding: 30px; 
}

.header a {
    text-decoration: none;
    color: black;
    padding-right: 3vh;
}